<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>Ninja blog</h1>
    <%- include('./partials/nav.ejs') %>

    <div class='not-found content'>
        <h2>All blogs</h2>
        <p>oops page not found</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>