<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>Ninja blog</h1>
    <%- include('./partials/nav.ejs') %>

    <div class='about content'>
        <h2>All blogs</h2>
        Quis ut reprehenderit aute pariatur dolore sit laborum. Dolor commodo in reprehenderit officia sint. Magna nulla proident deserunt proident consequat aliquip elit exercitation do est deserunt est. Eiusmod ullamco commodo amet et mollit ex officia excepteur commodo laboris pariatur. Quis incididunt minim duis ipsum cillum fugiat nisi. Id esse occaecat nisi est ad. Laborum reprehenderit nostrud cupidatat minim ullamco in id commodo ex officia veniam.

Elit nulla aute occaecat officia aliquip aliqua qui adipisicing quis in magna. Proident commodo aliqua est exercitation id. Reprehenderit cupidatat et adipisicing elit ullamco commodo nisi dolor duis. Incididunt labore et eu consequat non dolore velit nisi dolore excepteur nostrud aute qui. Esse excepteur ad voluptate nisi culpa labore pariatur excepteur eiusmod magna anim magna.
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>